<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<!--Converted with LaTeX2HTML 98.1 release (February 19th, 1998)
originally by Nikos Drakos (nikos@cbl.leeds.ac.uk), CBLU, University of Leeds
* revised and updated by:  Marcus Hennecke, Ross Moore, Herb Swan
* with significant contributions from:
  Jens Lippmann, Marek Rouchal, Martin Wilck and others -->
<HTML>
<HEAD>
<TITLE>Introduction</TITLE>
<META NAME="description" CONTENT="Introduction">
<META NAME="keywords" CONTENT="template">
<META NAME="resource-type" CONTENT="document">
<META NAME="distribution" CONTENT="global">
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<LINK REL="STYLESHEET" HREF="template.css">
<LINK REL="next" HREF="node2.html">
<LINK REL="previous" HREF="template.html">
<LINK REL="up" HREF="template.html">
<LINK REL="next" HREF="node2.html">
</HEAD>
<BODY >
<!--Navigation Panel-->
<A NAME="tex2html15"
 HREF="node2.html">
<IMG WIDTH="37" HEIGHT="24" ALIGN="BOTTOM" BORDER="0" ALT="next"
 SRC="/usr/local/src/latex2html/icons.gif/next_motif.gif"></A> 
<A NAME="tex2html13"
 HREF="template.html">
<IMG WIDTH="26" HEIGHT="24" ALIGN="BOTTOM" BORDER="0" ALT="up"
 SRC="/usr/local/src/latex2html/icons.gif/up_motif.gif"></A> 
<A NAME="tex2html7"
 HREF="template.html">
<IMG WIDTH="63" HEIGHT="24" ALIGN="BOTTOM" BORDER="0" ALT="previous"
 SRC="/usr/local/src/latex2html/icons.gif/previous_motif.gif"></A>   
<BR>
<B> Next:</B> <A NAME="tex2html16"
 HREF="node2.html">Bibliography</A>
<B> Up:</B> <A NAME="tex2html14"
 HREF="template.html">No Title</A>
<B> Previous:</B> <A NAME="tex2html8"
 HREF="template.html">No Title</A>
<BR>
<BR>
<!--End of Navigation Panel-->

<H1><A NAME="SECTION00010000000000000000">
Introduction</A>
</H1>

<P>
<BR><P></P>
<DIV ALIGN="CENTER">

<!-- MATH: \begin{equation}

\end{equation} -->
<A NAME="ellipeqn1">&#160;</A>
<TABLE WIDTH="100%" ALIGN="CENTER">
<TR VALIGN="MIDDLE">
<TD WIDTH=10 ALIGN="RIGHT">
(1)</TD></TR>
</TABLE>
</DIV>
<BR CLEAR="ALL"><P></P>

<P>
<BR>
<DIV ALIGN="CENTER">

<!-- MATH: \begin{eqnarray}
(a^{T}a)_{k,l} & = & {\sum_{i=1}^{N_{source}}{S_{k,i}S_{l,i} \over
\sigma_{i}^{2} } } \nonumber \\
S_{k,i} & = & {\sum_{q_k=1}^{N_{lens}}\cos(2\vartheta_{q,i})}  \\
b_k & = & \sum_{i=1}^{N_{source}}{(e_{1})_{i}S_{k,i} \over \sigma_{i}^{2}} \nonumber
\end{eqnarray} -->

<TABLE ALIGN="CENTER" CELLPADDING="0" WIDTH="100%">
<TR VALIGN="MIDDLE"><TD NOWRAP ALIGN="RIGHT">(<I>a</I><SUP><I>T</I></SUP><I>a</I>)<SUB><I>k</I>,<I>l</I></SUB></TD>
<TD ALIGN="CENTER" NOWRAP>=</TD>
<TD ALIGN="LEFT" NOWRAP><IMG
 WIDTH="38" HEIGHT="14" ALIGN="MIDDLE" BORDER="0"
 SRC="img1.gif"
 ALT="$\displaystyle {\sum_{i=1}^{N_{source}}{S_{k,i}S_{l,i} \over
\sigma_{i}^{2} } }$"></TD>
<TD WIDTH=10 ALIGN="RIGHT">
&nbsp;</TD></TR>
<TR VALIGN="MIDDLE"><TD NOWRAP ALIGN="RIGHT"><I>S</I><SUB><I>k</I>,<I>i</I></SUB></TD>
<TD ALIGN="CENTER" NOWRAP>=</TD>
<TD ALIGN="LEFT" NOWRAP><IMG
 WIDTH="111" HEIGHT="77" ALIGN="MIDDLE" BORDER="0"
 SRC="img2.gif"
 ALT="$\displaystyle {\sum_{q_k=1}^{N_{lens}}\cos(2\vartheta_{q,i})}$"></TD>
<TD WIDTH=10 ALIGN="RIGHT">
(2)</TD></TR>
<TR VALIGN="MIDDLE"><TD NOWRAP ALIGN="RIGHT"><I>b</I><SUB><I>k</I></SUB></TD>
<TD ALIGN="CENTER" NOWRAP>=</TD>
<TD ALIGN="LEFT" NOWRAP><IMG
 WIDTH="118" HEIGHT="78" ALIGN="MIDDLE" BORDER="0"
 SRC="img3.gif"
 ALT="$\displaystyle \sum_{i=1}^{N_{source}}{(e_{1})_{i}S_{k,i} \over \sigma_{i}^{2}}$"></TD>
<TD WIDTH=10 ALIGN="RIGHT">
&nbsp;</TD></TR>
</TABLE></DIV>
<BR CLEAR="ALL"><P></P>

<P>

<P>
<BR><HR>
<ADDRESS>
<I>Erin Sheldon</I>
<BR><I>2000-04-07</I>
</ADDRESS>
</BODY>
</HTML>
